.container01 {
    width: 100vw;
    height: 90vh;
    background-image: linear-gradient(154deg, gray 35%, rgb(59, 59, 59) 36%, rgb(57, 57, 57) 64%, gray 65%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Mooli', sans-serif;;
}

.front {
    height: 2in;
    width: 3.5in;

    margin-bottom: 10px;
    background-color: black;
    /* background-image: linear-gradient(120deg, orange 35%, rgba(0, 0, 0, 0) 20%), */
    /* linear-gradient(190deg, green 40%, rgba(0, 0, 0, 0) 20%); */

    background-image: linear-gradient(230deg, rgb(255, 145, 0) 36%, rgba(0, 0, 0, 0) 20%), linear-gradient(-54deg, rgb(255, 145, 0) 36%, rgba(0, 0, 0, 0) 20%);
}
.desc01{
    font-size: 8px;
}
.back {
    height: 2in;
    width: 3.5in;
    background-color: black;

    background-image: linear-gradient(62deg, rgb(255, 145, 0) 35%, rgba(255, 255, 255, 0) 35%), linear-gradient(118deg, rgb(255, 145, 0) 36%, rgba(255, 255, 255, 0) 35%);

}
.hexagon {
    position: relative;
    width: 203px;
    height: 172px;
    clip-path: polygon(24% 0, 74% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: rgba(20, 20, 20, 0.99);
    color: white;

}
.hex1{
    left: 124px;
    top: 10px;
}
.hex2{
    /* left: 8px;
    top: 10px; */

    left: 5px;
    top: 35px;
    height: 130px;
    width: 162px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.image01{
    width: 60px;
    height: 60px;
    
    overflow: hidden;
}
.front-img{
    border-radius: 50%;
    width: 60px;
    overflow: hidden;
}
.front-contain{
    margin: auto;
    width: 100px;
    height: 151px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.back-contain{
    width: 72%;
    height: 53%;
    margin: auto;
    position: relative;
    top: 4px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title01{
    margin-bottom: 1px;
    font-weight: 800;
     font-size: 20px; 
}
/* .back-tagline{
    font-weight: 200;
    font-size: 12px;
} */
/* .back-progress-bar{
    background-color: orange;
    color: orange;
    height: 3px;
    width: 142px;
} */
.back-container{
    /* background-color: gray; */
    position: relative;
    top: -93px;
    right: -143px;
    width: 185px;
    height: 123px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.back-detailss{
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    color: white;
}
.back-detailss p{
    margin-bottom: 0px;
    margin-left: 3px;
    font-size: 12px;
    
}
.back-details01{

}
.qrcode{
    overflow: hidden;
}
.back-details01{
    height: 50px;
}
.back-icon{
    width: 10px;
    padding: 5px;
}