.containert02 {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.resumet02 {
    font-family: 'Arimo', monospace;
    height: 1121px;
    width: 795px;
    margin: auto;
    display: grid;
    grid-template-columns: 1.3fr 2fr;
    box-shadow: 8px 8px 9px gray;

}

.leftt02 {
    background-color: #B29E9F;
    color: white;

}

.rightt02 {
    color: white;
}

.imgcontainert02 {
    height: 220px;
    width: 220px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white;
    margin: auto;
    margin-top: 10px;
}

.userPhotot02 {
    width: 100%;
    height: 100%;
}

/* right side  */
.rightUpt02 {
    background-color: #DCD0D0;
    height: 23%;
    width: 100%;

}

.rightDownt02 {
    width: 100%;
    height: 75%;
    background-color: white;
}

.fullnameAndPost {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    /* background-color: yellowgreen; */
    height: 150px;
    width: 270px;
    margin: auto;
}

.Namet02 {
    font-size: 35px;
    font-weight: 800;
    height: 35px;
    letter-spacing: 1px;
}

.jobtitlet02 {
    margin-top: 15px;
    font-size: 20px;
    border-top: 0.5px solid white;
}

/* contact details */
.contactDetailst02 {
    /* background-color: yellowgreen; */
    min-height: 200px;
    width: 270px;
    margin: auto;
    font-size: 20px;

}

.contactTitlet02 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    /* border-bottom: 0.5px solid white; */
    /* background-color: gray; */
}

.phoneNumbert02 {
    /* background-color: gray; */

}

.icont02 {
    width: 25px;
    height: 30px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: centerS;
}

.item-align-row-t02 {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.iconImg {
    margin-right: 5px;
}

.skillsTitlet02 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.skillst02{
    min-height: 200px;
    width: 270px;
    margin: auto;
    font-size: 20px;
    margin-top: 25px;
}
.summaryCardt02{
    width: 444px;
    color: rgb(52, 52, 52);  
    margin: auto;
    padding-top: 20px; 
}
.SummaryTitlet02 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.summaryT02{
    font-size: 18px;
    word-wrap: break-word;
}
.educationalDetailst02{

}
.rightDownt02{
    color: black;
    padding: 19px;
    padding-top: 0px;
}
.expirenceDetailst02{

}
.expTitlet02{
    font-size: 24px;
    font-weight: 700;
    /* text-transform: uppercase; */
    margin-bottom: 15px;
    margin-top: 22px;
    border-bottom: 2px solid black;
}
.expCard{
    width: 90%;
    margin-bottom: 10px;
    
}
.Postt02{
    font-size: 20px;
    font-weight: bold;
}
.eduTitlet02{
    font-size: 24px;
    font-weight: 700;
    /* text-transform: uppercase; */
    margin-bottom: 15px;
    margin-top: 20px;
    border-bottom: 2px solid black;
}
.eduCard{
    margin-bottom: 10px;
}
.projectDetailst02{
    margin-left: 25px;
    width: 282px;
}
.projectTitlet02{
     font-size: 24px;
    font-weight: 700;
    /* text-transform: uppercase; */
    margin-bottom: 10px;
    margin-top: 20px;
}
.projectCard{
    margin-bottom: 10px;
}
.prjName{
    font-weight: bold;
}